*{
  margin: 0;
}

body {
  background-color: azure;
}
.header {
  position: fixed;
  top: 0;
  background-color: #002e25;
  width: 100%;
  height: 60px;
  color: azure;
  display: flex;
  flex-wrap: wrap;
  z-index: 4;
}

.header img {
  margin: 10px;
  margin-right: 0;
}
.header h2 {
  margin: 5px;
  margin-top: 10px;
  font-style: italic;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header .tabs {
  margin-left: 20%;
  margin-top: 20px;
}

.tabs a {
  text-decoration: none;
  color: azure;
  font-weight: bold;
  margin: 10px;
}

.search {
  color: #002e25;
  text-align: center;
  margin-top: 80px;
}
.products {
  color: #002e25;
  text-align: center;
  margin-top: 80px;
}

.search-bar {
  border-radius: 19px;
  width: 30%;
  height: 40px;
  background-color: beige;
  border: none;
  outline: none;
  padding: 0 8px;
}
.search-bar::placeholder {
  text-align: center;
}
.search-bar:focus {
  box-shadow: 0px 3px 6px 2px rgba(0, 0, 0, 0.6);
}

.product-card {
  width: 200px;
  height: 200px;
  margin: 30px 15px;
  cursor: pointer;
}

.product-details {
  background-color: #002e25;
  color: azure;
  width: 100%;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
  position: relative;
  padding: 10px;
  bottom: 0;
}

.product-details a {
  text-decoration: none;
  color: azure;
}

.product-details a:hover {
  text-decoration: underline;
}

.search-tabs {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-left: 37%;
  margin-top: 20px;
}

.search-tabs span {
  border-radius: 15px;
  padding: 5px;
  box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.4);
  margin: 10px;
  border: 2px solid #002e25;
  cursor: pointer;
}

.tab {
  flex-wrap: wrap;
  text-align: center;
  display: none;
  width: 100%;
  margin-top: 80px;
}

.tab h2 {
  text-align: center;
  margin-left: 43%;
  position: absolute;
  margin-top: -20px;
}

.tab i {
  margin-left: 46%;
  margin-top: 60px;
}

.special-tab {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-left: 15%;
}
.pagination {
  margin: 60px 0;
}
.pagination b {
  margin: 5px;
  border: 1px solid #002e25;
  padding: 5px;
  cursor: pointer;
}

.badge {
  background-color: rgba(230, 122, 0, 0.8);
  border-top-left-radius: 16px;
  position: absolute;
  text-align: left;
  color: azure;
  padding: 4px;
  font-size: 12px;
  font-weight: bold;
  margin-left: -60px;
}

.product-badge {
  background-color: rgba(230, 122, 0, 0.8);
  border-top-left-radius: 5px;
  position: absolute;
  text-align: left;
  color: azure;
  padding: 4px;
  font-size: 12px;
  font-weight: bold;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
}

.product-row {
  width: 99%;
  height: 160px;
  display: flex;
  flex-wrap: wrap;
  margin: 20px 5px;
  border: 1px solid rgb(128, 128, 128, 0.5);
  border-radius: 5px;
}

.product-info {
  margin-left: 40px;
  text-align: left;
}

.price-range {
  margin-right: 6px;
}

#amazon-btn {
  background-color: #002e25;
  color: azure;
}
#amazon {
  display: flex;
}

#sort {
  background-image: url("sort.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 32px;
  width: 100px;
  height: 40px;
  position: absolute;
  right: 30%;
  top: 45%;
  
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.spinner-container {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  backdrop-filter: blur(4px);
  z-index: 10;
}
.loading-spinner {
  width: 50px;
  height: 50px;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #383636; /* Black */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
  margin-top: 15%;
  margin-left: 45%;
  z-index: 15;
}

@media only screen and (max-width: 600px) {
  .header .tabs {
    margin-left: 0;
    margin-top: 0;
  }
  .tabs a {
    color: #002e25;
  }
  .product-info {
    margin-left: 95px;
  }
  .product-info h2 {
    font-size: 12px;
    margin-top: -90px;
  }
  .product-preview {
    width: 96px;
    height: 96px;
  }

  .product-preview img {
    width: 96px;
    height: 96px;
  }

  .price-range {
    margin-right: 6px;
  }
  .price-range b {
    font-size: 12px;
  }
  .price-range span {
    font-size: 12px;
  }
  .search-bar {
    border-radius: 19px;
    width: 70%;
    height: 40px;
    background-color: beige;
    border: none;
    outline: none;
    padding: 0 8px;
  }
  .search-tabs {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-left: 4%;
    margin-top: 20px;
    width: 80%;
  }
  #sort {
    right: 10%;
    top: 30%;
    border-radius: 50%;
    border: 2px solid #002e25;
    height: 30px;
    width: 30px;
  }
  .special-tab {
    margin-left: 5%;
  }

  .product-card {
    margin: 30px 55px;
  }
  .tab h2 {
    text-align: center;
    margin-left: 18%;
    position: absolute;
    margin-top: -20px;
  }
  
}