*{
  margin: 0;
}

body {
  background-color: azure;
}
.header {
  position: fixed;
  top: 0;
  background-color: #002e25;
  width: 100%;
  height: 60px;
  color: azure;
  display: flex;
  flex-wrap: wrap;
  z-index: 4;
}

.header img {
  margin: 10px;
  margin-right: 0;
}
.header h2 {
  margin: 5px;
  margin-top: 10px;
  font-style: italic;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header .tabs {
  margin-left: 20%;
  margin-top: 20px;
}

.tabs a {
  text-decoration: none;
  color: azure;
  font-weight: bold;
  margin: 10px;
}

.search {
  color: #002e25;
  text-align: center;
  margin-top: 80px;
}
.products {
  color: #002e25;
  text-align: center;
  margin-top: 80px;
}

.search-bar {
  border-radius: 19px;
  width: 30%;
  height: 40px;
  background-color: beige;
  border: none;
  outline: none;
  padding: 0 8px;
}
.search-bar::placeholder {
  text-align: center;
}
.search-bar:focus {
  box-shadow: 0px 3px 6px 2px rgba(0, 0, 0, 0.6);
}

.product-card {
  width: 200px;
  height: 200px;
  margin: 30px 15px;
  cursor: pointer;
}

.product-details {
  background-color: #002e25;
  color: azure;
  width: 100%;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
  position: relative;
  padding: 10px;
  bottom: 0;
}

.product-details a {
  text-decoration: none;
  color: azure;
}

.product-details a:hover {
  text-decoration: underline;
}

.search-tabs {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-left: 37%;
  margin-top: 20px;
}

.search-tabs span {
  border-radius: 15px;
  padding: 5px;
  box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.4);
  margin: 10px;
  border: 2px solid #002e25;
  cursor: pointer;
}

.tab {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  /* margin-left: 40%; */
  display: none;
  width: 100%;
  margin-top: 80px;
}

.tab h2 {
  text-align: center;
  margin-left: 35%;
  position: absolute;
  margin-top: -20px;
}

.special-tab {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-left: 15%;
}
.pagination {
  margin: 60px 0;
}
.pagination b {
  margin: 5px;
  border: 1px solid #002e25;
  padding: 5px;
  cursor: pointer;
}

.badge {
  background-color: rgba(230, 122, 0, 0.8);
  border-top-left-radius: 16px;
  position: absolute;
  text-align: left;
  color: azure;
  padding: 4px;
  font-size: 12px;
  font-weight: bold;
  margin-left: -60px;
}

.product-badge {
  background-color: rgba(230, 122, 0, 0.8);
  border-top-left-radius: 5px;
  position: absolute;
  text-align: left;
  color: azure;
  padding: 4px;
  font-size: 12px;
  font-weight: bold;
  /* margin-left: -60px; */
}
.products-list {
  display: flex;
  flex-wrap: wrap;
}

.product-row {
  width: 99%;
  height: 160px;
  display: flex;
  flex-wrap: wrap;
  margin: 20px 5px;
  border: 1px solid rgb(128, 128, 128, 0.5);
  border-radius: 5px;
}

/* .product-preview {
  background-color: rgb(0, 46, 37, 0.3);
  width: 140px;
  
} */

.product-info {
  margin-left: 40px;
  text-align: left;
}

.price-range {
  margin-right: 6px;
}

#sort {
  background-image: url("sort.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 32px;
  width: 100px;
  height: 40px;
  position: absolute;
  right: 30%;
  top: 45%;
  /* border-radius: 50%;
  border: 1px solid #002e25; */
}

@media only screen and (max-width: 600px) {
  
}